
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    position: relative;
  }
  
  a:after {
    border-radius: 1em;
    border-top: .1em solid rgb(131, 131, 131);
    content: "";
    position: absolute;
      right: 100%;
      bottom: .14em;
      left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1);
  }
  
  a:hover:after {
    right: 0;
  }


body{
    background-color:rgb(153, 189, 189)
    
}

