body {
    display: inline;
    background-color:rgb(238, 238, 180)

}
.namn{
    text-align: center;
    color: darkslategray;
}
.vl{
    border-left: 6px solid darkslategray;
    height: 800px;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    top: 0;
}
.vll{
  left: 19%;
  margin-left: -3px;
  top: 0;
  border-left: 2px solid darkslategray;
  height: 800px;
  position: absolute;

}
.vlll{
  left: 323px;
  margin-left: -3px;
  top: 0;
  border-left: 2px solid darkslategray;
  height: 800px;
  position: absolute;

}
    .hl{
      color: darkslategray;  
      border-top: 6px solid darkslategray;
      text-decoration: none;
    }
   
    .sidor{
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        width: 50%;
       
    }
    .text{
        text-align: center;
      font-size: medium;
      font-family:cursive;
    }
    .circle
  {
    width: 140px;
    height: 140px;
    background: darkslategray; 
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
    margin-left: 230px;
    display: flex;
    margin-top: -480px;
  }

  .sida{
    text-decoration:underline;
    font-size: larger;
    font-family: cursive;
    color: darkslategray;

  }
  .sida2{
    text-decoration:underline;
    font-size: larger;
    font-family: cursive;
    color: darkslategray;
    display: flex;
    margin-top: -250px;
  }