button {
    text-decoration: none;
  }
  
  button:hover {
    text-decoration: none;
  }
  
  button {
    text-decoration: none;
   
  }
  
  button:after {
    border-radius: 1em;
    border-top: .1em solid rgb(131, 131, 131);
    content: "";
   
    transition: right .4s cubic-bezier(0,.5,0,1);
  }
  
  button:hover:after {
    right: 0;
  }


body{
    background-color:rgb(153, 189, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.Bio {
            
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 60px;
    grid-gap: 20px;
}

.Grid-item {
  display: flex;
  color: rgb(131, 131, 131);
    border: 4px solid cornsilk;
    padding: 20px;
    font-size: 25px;
    align-items: center;
    justify-content: center;

}

.button {
    background: none;
    border: none;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(131, 131, 131);


}




button:link {
    color: cornsilk;
    background-color: transparent;
    text-decoration: none;
}

button:visited {
    color: rgb(131, 131, 131);
    background-color: transparent;
    text-decoration: none;
}



.grid-container {
    display: flex;
    grid-template-rows: repeat(5, 100px);
    grid-gap: 90px;
    grid-auto-flow: column;
    border: 4px solid cornsilk;
    padding: 90px;

    
  
}
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}



.grid-item {

    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: cornsilk;
   
    

}
.img1 { flex: 3.3344; }
.img2 { flex: 5.1000; }
.img3 { flex: 3.3344; }
.img4 { flex: 5.5144; }
.img5 { flex: 4.6900; }