body {
    background-color: crimson;
}
/*Använder id för elementet och detta är en kommentar i css*/
#mindiv{
    padding: 50px;
}
table, th, td {
    border:2px solid black;
    width: 400px;

  }
  /*Här använder vi klass i stället till elementet*/
  .hundar {
    width: 200px;

  }
  h4{
    font-style: italic;
    text-decoration: underline;
  }

